INDEXER_URL=http://127.0.0.1:8787
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_PROGRAM_ID=9diuYeEwSQWhagiV4nMDEPhm2fkheSnjqDPYwRZTSdsq
NEXT_PUBLIC_PROGRAM_ADMIN_AUTHORITY=BNToqmqXLNvUrEGGS7io3MQodB9dT56M4Q1Q8xcPYyk7
